<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand">Angular Forms</a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/templateForm" routerLinkActive="active" class="nav-link"
          >Form - Template Driven</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/dataForm" routerLinkActive="active" class="nav-link"
          >Form - Data Driven</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
